{% extends 'back/homeback.html.twig' %}

{% block body %}


     <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_back') }}">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="{{ path('app_back') }}">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

{% for partenaire in partenaires %}

          

            <div class="container-fluid">





            </div>
            <!-- #/ container -->
            
        
{% endfor %}
</div>
{% endblock %}